<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :content %>
  <%= form.text_area :content, rows: 10, cols: 80 %>
</div>

<div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>
